<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>StarCode Digital</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="/images/logoredondo2.png">
        <meta name="description" content="StarCode Digital, desenvolvimento de sites e Apps, Data Analystic e manutenção de hardware e software">
        <meta name="robots" content="starcodedigital, star code digital, starcode digital, desenvolvimento web, data analystic, manutenção">
        <meta name="keywords" content="dev, desenvolvimento, web, mobile, starcodedigital, manutenção, otimização, data analystic, PowerBI">
        <meta name="author" content="Jhones Yure-STARCODEDIGITAL // Camila Gonçalves-STARCODEDIGITAL">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
        <link rel="stylesheet" type="text/css" href="/styles/header.css"><!-- Header -->
        <link rel="stylesheet" type="text/css" href="/styles/footer.css"><!-- footer -->
        <link rel="stylesheet" type="text/css" href="/styles/developer.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
                <div class="container-fluid color-header">
                  <a class="navbar-brand col-6" href="#">
                    <img src="/images/testeIcon.png" class="logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse " id="navbarNav">
                   <div class="txt">
                        <a class="nav-link" href="/index.html#about">
                            Sobre
                        </a>
                   </div>
                   <div class="txt">
                        <a class="nav-link" href="/index.html#services">
                            Serviços
                        </a>
                    </div>
                    <div class="txt">
                        <a class="nav-link" href="/pages/blog.html">
                            Blog
                        </a>
                   </div>
                   <div class="txt">
                    <a class="nav-link" href="/server/contato.html">
                        Contato
                    </a>
               </div>
                  </div>
                </div>
              </nav>
        </header>
        <a href="#" id="voltar-topo" class="seta-topo">&#8593;</a>
        <main>
            <div class="container-fluid dev-image">
                <div class="row ">
                    <h1 class=" col-md-12 title">
                        Desenvolvimento Web<br/>
                        Mobile
                    </h1>
                </div>
            </div>
            
            <a href="/pages/blog.html" class="back">
                < voltar
            </a>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="/images//dev-article.png" class="img-dev">
                    </div>

                    <div class="col-md-6">
                        <h1 class="web-title">
                            Um pouco sobre o desenvolvimento web
                        </h1>
                        <p class="txt-web">
                            O desenvolvimento web é o processo de criação e manutenção de sites e aplicativos para a internet. Envolve uma combinação de habilidades técnicas, design e conhecimento de programação para criar interfaces interativas e funcionais que são acessadas por meio de navegadores da web.

                            A base do desenvolvimento web é a linguagem de marcação HTML (Hypertext Markup Language), que define a estrutura básica de uma página web, como cabeçalhos, parágrafos, imagens e links. O HTML é combinado com folhas de estilo em cascata (CSS - Cascading Style Sheets), que controlam o layout e a aparência visual do conteúdo. O CSS permite definir cores, fontes, espaçamento e outros elementos de design para tornar as páginas web esteticamente agradáveis e coesas.

                            Além disso, a interatividade e a funcionalidade são adicionadas ao desenvolvimento web por meio de linguagens de programação, como JavaScript. O JavaScript é uma linguagem de script que permite criar elementos dinâmicos em uma página web, como animações, pop-ups, validações de formulário e interações com o usuário. Com o JavaScript, é possível criar sites interativos e responsivos, que se adaptam a diferentes dispositivos e tamanhos de tela.

                            O desenvolvimento web também envolve o trabalho com bancos de dados, que são usados para armazenar informações do site, como dados de usuários, conteúdo dinâmico e configurações. Bancos de dados populares para desenvolvimento web incluem MySQL, PostgreSQL e MongoDB. Esses bancos de dados permitem que os desenvolvedores armazenem, acessem e atualizem dados de forma eficiente.

                            Em resumo, o desenvolvimento web é um campo amplo que abrange a criação de sites e aplicativos para a internet. Requer conhecimento de linguagens de marcação, como HTML, estilos com CSS, programação com JavaScript e uso de bancos de dados. Com essas habilidades e ferramentas, os desenvolvedores web podem criar experiências interativas e funcionais para os usuários da web.
                        </p>
                    </div>


                    <div class="col-md-6">
                        <h1 class="mobile-title">
                            Mobile
                        </h1>
                        <p class="txt-mobile">
                            O desenvolvimento mobile é o processo de criação de aplicativos para dispositivos móveis, como smartphones e tablets. Ele envolve a criação de interfaces de usuário interativas e funcionais que são executadas em sistemas operacionais móveis, como Android e iOS.

                            Existem duas abordagens principais para o desenvolvimento de aplicativos móveis: desenvolvimento nativo e desenvolvimento multiplataforma.

                            O desenvolvimento nativo envolve a criação de aplicativos específicos para cada plataforma móvel. Por exemplo, para desenvolver um aplicativo para iOS, você usaria a linguagem de programação Swift e as ferramentas de desenvolvimento da Apple, como o Xcode. Para o Android, a linguagem Java ou Kotlin e o Android Studio são amplamente utilizados. O desenvolvimento nativo oferece a melhor integração com o sistema operacional e acesso total aos recursos do dispositivo, o que resulta em um alto desempenho e uma experiência de usuário mais fluída.
                            Por outro lado, o desenvolvimento multiplataforma envolve o uso de tecnologias que permitem criar um único código-base que pode ser executado em diferentes plataformas móveis. Isso é alcançado por meio de frameworks e ferramentas como React Native, Flutter e Xamarin. Essas abordagens permitem que os desenvolvedores escrevam um código comum em linguagens como JavaScript ou Dart e, em seguida, compilem-o para aplicativos nativos para iOS e Android. O desenvolvimento multiplataforma oferece a vantagem de um desenvolvimento mais rápido e econômico, pois o mesmo código pode ser reutilizado em várias plataformas.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <img src="/images/mobile-article.png" class="img-mob">
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container-fluid">
                <div class="row back-color-footer">
                    <div class="col-md-3 col-6 center-tech">
                        <a href="index.html">
                            <img src="/images/iconbranco.png" class="icon-footer">
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <h4 class='title-footer'>
                            StarCode
                        </h4>
                        <a href='/index.html#about' class='txt-footer'>
                            <p class='txt-info'>
                                Sobre
                            </p>
                        </a>
                        <a href='/server/contato.html' class='txt-footer'>
                            <p class='txt-info'>
                                Contato
                            </p>
                        </a>
                        <a href='/index.html#services' class='txt-footer'>
                            <p class='txt-info'>
                                Soluções
                            </p>
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <h4 class='title-footer'>
                            Fale Conosco
                        </h4>
                        <p class='txt-footer'>
                            contato@starcodigital.com.br
                        </p>
                        <p class='txt-footer'>
                            +55 (51) 9.9411-9063
                        </p>
                        <p class='txt-footer'>
                            Vila Jardim<br/>
                            Porto Alegre, Brasil
                        </p>
                    </div>
                    <div class="col-md-3 col-6">
                        <h4 class='title-footer'>
                            Redes Sociais
                        </h4>
                        <a href='https://www.instagram.com/starcodedigital/' target="_blank">
                            <img src='/images/insta.png' class='icon-rede'/>
                        </a>
                        <a href='https://www.linkedin.com/company/starcodedigital/' target="_blank">
                            <img src='/images/linkdin.png' class='icon-rede'/>
                        </a>
                       <!--  <a href=''>
                            <img src='/images/youtube.png' class='icon-rede'/>
                        </a> -->
                        <a href='' target="_blank">
                            <img src='/images/face.png' class='icon-rede'/>
                        </a>
                    </div>
                    <p class="copyright">
                        Direitos reservados da StarCode Digital © 2023
                    </p>
                </div>
            </div>
        </footer>
    </body>
    <script src="/services/blogin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</html>