<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>StarCode Digital</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="icon" href="/images/logoredondo2.png">
        <meta name="description" content="StarCode Digital, desenvolvimento de sites e Apps, Data Analystic e manutenção de hardware e software">
        <meta name="robots" content="starcodedigital, star code digital, starcode digital, desenvolvimento web, data analystic, manutenção">
        <meta name="keywords" content="dev, desenvolvimento, web, mobile, starcodedigital, manutenção, otimização, data analystic, PowerBI">
        <meta name="author" content="Jhones Yure-STARCODEDIGITAL // Camila Gonçalves-STARCODEDIGITAL">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
        <link rel="stylesheet" type="text/css" href="/styles/header.css"><!-- Header -->
        <link rel="stylesheet" type="text/css" href="/styles/footer.css"><!-- footer -->
        <link rel="stylesheet" type="text/css" href="/styles/hd_ssd.css">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
                <div class="container-fluid color-header">
                  <a class="navbar-brand col-6" href="#">
                    <img src="/images/testeIcon.png" class="logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse " id="navbarNav">
                   <div class="txt">
                        <a class="nav-link" href="/index.html#about">
                            Sobre
                        </a>
                   </div>
                   <div class="txt">
                        <a class="nav-link" href="#services">
                            Serviços
                        </a>
                    </div>
                    <div class="txt">
                        <a class="nav-link" href="/pages/blog.html">
                            Blog
                        </a>
                   </div>
                   <div class="txt">
                    <a class="nav-link" href="/server/contato.html">
                        Contato
                    </a>
               </div>
                  </div>
                </div>
              </nav>
        </header>
        
        <main>
            <div class="container-fluid image">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title">
                            HD & SSD
                        </h1>
                    </div>
                </div>
            </div>
            <a href="/pages/blog.html" class="back">
                < voltar
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-6">
                        <img src="/images/hd_blog.png" class="image-hd">
                    </div> 
                    <div class="col-md-6 col-6">
                        <h1 class="h1">
                            Falando um pouco do HDD
                        </h1>
                        <p class="txt-hd">
                            Um disco rígido (HDD - Hard Disk Drive) é um dispositivo de armazenamento magnético amplamente utilizado em computadores e outros dispositivos eletrônicos. Consiste em um ou mais discos magnéticos giratórios, revestidos com material magnético sensível, onde os dados são gravados magneticamente.
                            Os HDDs oferecem capacidades de armazenamento consideráveis, variando de gigabytes a terabytes, permitindo que os usuários armazenem grandes quantidades de dados, como documentos, fotos, vídeos e aplicativos.
                        </p>
                    </div>

                    <div class="col-md-6 col-6">
                        <h1 class="h1">
                            Conhecendo o SSD
                        </h1>
                        <p class="txt-hd">
                            Um SSD (Solid State Drive) é um tipo de dispositivo de armazenamento que utiliza memória flash para armazenar dados de forma não volátil. Ao contrário dos discos rígidos tradicionais (HDDs), os SSDs não possuem partes mecânicas em movimento, o que resulta em uma maior velocidade de leitura e gravação, tempos de resposta mais rápidos e maior durabilidade. Eles são amplamente utilizados em computadores, laptops e dispositivos móveis devido à sua eficiência energética, tamanho compacto e resistência a choques. Os SSDs oferecem uma solução de armazenamento confiável e de alto desempenho para aqueles que buscam uma experiência rápida e eficiente em seus dispositivos.
                        </p>
                    </div>
                    <div class="col-md-6 col-6">
                        <img src="/images/ssd_blog.png" class="image-hd">
                    </div> 
                    
                    <div class="col-md-12">
                        <h1 class="txtVs">
                            5 tópicos importante sobre esses hardware
                        </h1>
                        <img src="/images/VS.png" class="vs">
                    </div>
                    <a href="#" id="voltar-topo" class="seta-topo">&#8593;</a>

                    <div class="col-md-6">
                        <p class="txt-info">
                            <strong>1-Velocidade:</strong> O SSD é consideravelmente mais rápido do que o HD tradicional. Ele oferece tempos de inicialização mais curtos, carregamento de aplicativos mais rápido e tempos de resposta mais ágeis, tornando a experiência geral do computador muito mais rápida e fluida.
                        </p>
                        <p class="txt-info">
                            <strong>2-Desempenho aprimorado:</strong> Com velocidades de leitura e gravação mais rápidas, o SSD melhora o desempenho do sistema como um todo. Isso significa tempos de carregamento mais curtos para jogos, renderização mais rápida de vídeos e menor tempo de espera ao copiar ou transferir arquivos.
                        </p>
                        <p class="txt-info">
                            <strong>3-Confiabilidade:</strong> Os SSDs não possuem partes móveis, o que os torna menos propensos a danos físicos causados por impactos ou vibrações. Além disso, eles são mais resistentes a temperaturas extremas e menos propensos a falhas mecânicas em comparação com os discos rígidos tradicionais.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="txt-info">
                            <strong>4-Eficiência energética:</strong> Os SSDs consomem menos energia em comparação com os discos rígidos, o que resulta em menor consumo de energia pelo computador como um todo. Isso é particularmente benéfico para laptops, pois ajuda a estender a vida útil da bateria.
                        </p>
                        <p class="txt-info">
                            <strong>5-Menor ruído:</strong> Como não possuem partes móveis, os SSDs são virtualmente silenciosos durante a operação. Isso contribui para um ambiente de trabalho mais silencioso e agradável.
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p class="txt-info">
                            Embora os SSDs tendam a ter capacidades de armazenamento menores em comparação com os discos rígidos a preços semelhantes, a velocidade e o desempenho aprimorados fazem valer a pena a transição para muitos usuários.
                        </p>
                    </div>
                </div>
            </div>
            
            
            <div class="container-fluid backcolor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <img src="/images/jhones.jfif" class="dep">
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <p class="txtdep">
                                "Já tivemos muitos clientes com o pedido de formatação porque o seu pc possuia lentidão.
                                Mas as vezes o problema não está no software, e sim, no hardware. Na maioria desses casos
                                são os HDD que já vem apresentando problema, e na StarCode sempre apresentamos a melhor opção ao cliente sobre este serviço.
                                90% dessas lentidão apresentam primeiro em notebooks. O motivo ? HDD não foram feitos para ficar em constante movimento."
                            </p>
                            <p class="ceo">
                                Jhones Bomfim<br/>
                                CEO & Leader
                            </p>
                        </div>
                           
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <div class="container-fluid">
                <div class="row back-color-footer">
                    <div class="col-md-3 col-6 center-tech">
                        <a href="/index.html">
                            <img src="/images/iconbranco.png" class="icon-footer">
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <h4 class='title-footer'>
                            StarCode
                        </h4>
                        <a href='/index.html#about' class='txt-footer'>
                            <p class='txt-info'>
                                Sobre
                            </p>
                        </a>
                        <a href='/server/contato.html' class='txt-footer'>
                            <p class='txt-info'>
                                Contato
                            </p>
                        </a>
                        <a href='/index.html#services' class='txt-footer'>
                            <p class='txt-info'>
                                Soluções
                            </p>
                        </a>
                    </div>
                    <div class="col-md-3 col-6">
                        <h4 class='title-footer'>
                            Fale Conosco
                        </h4>
                        <p class='txt-footer'>
                            contato@starcodigital.com.br
                        </p>
                        <p class='txt-footer'>
                            +55 (51) 9.9411-9063
                        </p>
                        <p class='txt-footer'>
                            Vila Jardim<br/>
                            Porto Alegre, Brasil
                        </p>
                    </div>
                    <div class="col-md-3 col-6">
                        <h4 class='title-footer'>
                            Redes Sociais
                        </h4>
                        <a href='https://www.instagram.com/starcodedigital/' target="_blank">
                            <img src='/images/insta.png' class='icon-rede'/>
                        </a>
                        <a href='https://www.linkedin.com/company/starcodedigital/' target="_blank">
                            <img src='/images/linkdin.png' class='icon-rede'/>
                        </a>
                       <!--  <a href=''>
                            <img src='/images/youtube.png' class='icon-rede'/>
                        </a> -->
                        <a href='' target="_blank">
                            <img src='/images/face.png' class='icon-rede'/>
                        </a>
                    </div>
                    <p class="copyright">
                        Direitos reservados da StarCode Digital © 2023
                    </p>
                </div>
            </div>
        </footer>
    </body>
    <script src="/services/blogin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</html>